<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .container{
            margin-top: 80px;
        }
    </style>
</head>
<body>


<script type="text/javascript">
        alert('您输入的用户名不存在 请去注册');
    setTimeout()


    </script>

<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">

<div class="container">
    <div>
        <div>
             <a href="{% url 'register' %}" class="btn btn-lg btn-info btn-block" >Register</a>
        </div>
    </div>
</div>




</body>
</html>